<ion-content [fullscreen]="true">
  <ion-card *ngFor="let character of characters">
    <img [src]="character.image">
    <ion-card-header>
      <ion-card-title>{{character.name}}</ion-card-title>
      <ion-card-subtitle>{{character.species}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="container">
        <p> <strong>Genero: </strong>{{character.gender}}</p> 
        <p><strong>Origen: </strong>{{character.origin.name}}</p>
        <p><strong>Status: </strong>{{character.status}}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
